@import "~bootstrap/scss/bootstrap";



html {
  font-size: 15px!important;
}


@media screen and (max-width: 400px) {
  html {
    font-size: 16px;
  }
}



body {
    background-color: #DD2255 ;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2rem;
    color:black;
    
}



@media screen and (min-width: 0px) and (max-width: 1199px){
  .menu-gauche{
    height: 100%;
    position: static!important;
    .sub-menu-el{
      display:flex;
      flex-direction:row;
      align-items: center;
    }
  }
  .page-border{
    height: 100vh;
    border-left: solid 20px #FD5D5B;
    border-right: solid 20px #FD5D5B;
    border-bottom: solid 20px #FD5D5B;
  }
  .page-contenu{
    min-height: 100vh;
  }
} 

@media screen and (min-width: 1200px){
  .menu-gauche{
    height: 100vh;
  }
  .page-border{
    height: 100vh;
  }
  .page-contenu{
    min-height: 100vh;
  }
} 

.nav-authentication{
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 400px){
    flex-direction: column;
  }
}

.flocon-menu{
 display: flex;
 justify-content: center;
 padding: 0px 30px;
 @media screen and (max-width: 400px){
  width: 135px;
 }
}

.menu-gauche{
    border: solid 20px #44000A ;
    background-color: #DD2255;
    display: flex;
    align-items: start;
    justify-content: center;
    position: fixed;
    z-index: 2;

    ul{
        font-family: "Shafarik", serif;
        font-weight: 400;
        font-size: 1.2rem;
        font-style: normal;
        color:white;
        /* @media screen and (min-width: 0px) and (max-width: 400px){
          font-size: 2.2rem;
        } */
    }
    
    a{
        font-family: "Shafarik", serif;
        font-weight: 400;
        font-style: normal;
        color:white;
        text-decoration:underline;
    }
}

.page-border{
  position: fixed;
  border-right: solid 20px #FD5D5B;
  border-top: solid 20px #FD5D5B;
  border-bottom: solid 20px #FD5D5B;
  z-index: 1;
  pointer-events: none;
}

.page-contenu{
  z-index: 0;
  background-color: #FCCA6F;
  h1{
    font-family: "Shafarik", serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    color:#44000A;
  }

  p{
    margin-bottom: 0px;
  }

  strong{
    font-weight: 700;
  }

  h1::before{
    content: url('../images/flocon-fonce.svg');
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 3px;
    left:-7px;
  }
  
  h2{
    font-family: "Shafarik", serif;
    font-weight: 500;
    font-size: 1.8rem;
    font-style: normal;
    color:#44000A;
    /* @media screen and (min-width: 0px) and (max-width: 400px){
      font-size: 2.8rem;
    } */
  }

  h2::before{
    content: url('../images/candy.svg');
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 8px;
    left:-7px;
  }

  h3{
    font-family: "Shafarik", serif;
    font-weight: 400;
    font-size: 1.6rem;
    font-style: normal;
    color:#44000A;
    /* @media screen and (min-width: 0px) and (max-width: 400px){
      font-size: 2.6rem;
    } */
  }

  ul{
    color:#44000A;

    li::before {
      content: url('../images/flocon-colore.svg');
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 8px;
      vertical-align: middle;
      transition: transform 0.2s;
    }
    
    li:hover::before {
      transform: rotateY(180deg); /* Use deg, not a string */
    }

    li{
      color:black;
      display: flex;
      .content{
        font-family: "Montserrat";
        font-weight: 300;
        font-size: 1.2rem;
        color:black;
        /* @media screen and (min-width: 0px) and (max-width: 400px){
          font-size: 2.2rem;
        } */
      }
    }
  }
  
  a{
      font-family: "Montserrat";
      font-weight: 500;
      font-style: normal;
      color:#af3e3c;
      text-decoration:none;
      display:flex;
      //justify-content: center;
      width: fit-content;
      padding: 4px;
      align-items: center;
      transition-duration: 1s;
  }

  a:hover{
    color:#FCCA6F;
    background-color: #DD2255;
    border-radius: 100px;
    transition: 200ms;
    /*animation-delay: 200ms; */
  }
  button:active{
    background-color: #FD5D5B!important; 
    color: #44000A!important;
  }

  button{
    border-radius: 500px;
    background-color: #FD5D5B; 
    border: none;
    color: #44000A;
    padding: 15px 32px;
    @media screen and (max-width: 400px){
      padding: 5px 5px;
    }
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    /* @media screen and (min-width: 0px) and (max-width: 400px){
      font-size: 2rem;
    } */
  }

  button:hover {
    background-color: #44000A; 
    color:#FFFFFF;
  }

  .button-link.petit:hover {
    background-color: #44000A; 
    color:#FFFFFF;
  }

  .button-link{
    border-radius: 500px;
    background-color: #FD5D5B;
    border: none;
    color: #44000A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    /* @media screen and (min-width: 0px) and (max-width: 400px){
      font-size: 2rem;
    } */
  }

  .button-link:hover{
    background-color: #44000A; 
    color:#FFFFFF;
  }

  .petit{
    border-radius: 500px;
    padding: 5px;
    font-size: 1rem;
   /*  @media screen and (min-width: 0px) and (max-width: 400px){
      font-size: 2rem;
    } */
  }

  .button-link.petit{
    border-radius: 500px;
    background-color: #FD5D5B; /* Green */
    border: none;
    color: #44000A;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    /* @media screen and (min-width: 0px) and (max-width: 400px){
      font-size: 2rem;
    } */
  }

  .rond-rouge{
    @media screen and (max-width: 400px){
      display: none;
    }
    border-radius: 500px;
    background-color: #FD5D5B;
    height: 200px;
    width: 200px;
    top:50px;
    position: relative;
    
    svg{
      position: relative;
      top:-53px;
      left:-63px;
    }
  }

  .delete-update-cadeau{
    left:183px;
    top:-54px;
    position: relative;
  }

  table{
    text-align: center;
    th {
      background-color: #44000A;
      color: white;
    }
    tbody{
      tr:nth-child(even){
        td{
          background-color: #ffe9e9;
          color:black;
        }
        
      }
      tr:nth-child(odd) {
        td{
          background-color: #ffc1c0;
          color:black;
        }
      }
    }
    
  }
  
  .fit-picture{
    width:90%;
  }

  h3.titre_image{
    margin-top: 20px;
  }

  .hover-show{
    .hover{
      display: none;
      position: absolute;
      color: white;
      background-color: #DD2255;
      border-radius: 20px;
    }
  }

  .hover-show:hover{
    .hover{
      display: block;
    }
  }
}


